

// COLOR VARIABLES

$color-primary: #304352;
$color-primary-dark: #1b252e;

$color-secondary: #d7d2cc;
$color-secondary-light: #f4f2f0;

// $color-tertiary: #ffa500;
$color-tertiary: rgba(255, 133, 128, 0.9);

// FONT VARIABLES

// FONT VARIABLES
$font-primary: "Raleway", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75rem; // 1200px /16px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; 
$bp-smallest: 20em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f4f2f0;
  color: #ba8b02;
  font-family: $font-primary;
  font-weight: 300;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-small) {
    font-size: 50%; //1 rem = 8px
  }
}

.header--1 {
  font-size: 7rem;
  color: $color-secondary-light;
  letter-spacing: 4px;
  font-weight: 400;
}

.header--2 {
  font-size: 6rem;
  color: $color-tertiary;
  letter-spacing: 4px;
  font-weight: 500;
}

.header--3 {
  font-size: 3rem;
  letter-spacing: 2px;
  color: $color-tertiary;
  text-transform: uppercase;
  word-spacing: 1;
  font-weight: 400;
}

.header--4 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: $color-tertiary;
  text-transform: uppercase;
  word-spacing: 1;
  font-weight: 400;
  margin-bottom: 2rem;
}
