.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../imgs/bg-footer.jpg);

  background-position: center;
  background-size: cover;
  padding: 10rem 2rem;

  &__container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }
}

.copyright {
  @media only screen and (max-width: $bp-small) {
    margin-top: 2rem;
  }
  &__text {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  &__text--highlight {
    color: $color-tertiary;
  }
}

.nav-footer {
  &__header {
    padding: 2rem;
    width: 100%;
    z-index: 1000;

    position: relative;

    @media only screen and (max-width: $bp-small) {
      padding: 2rem 1rem;
    }
  }
  &__links {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.2s;

    .icon {
      height: 3rem;
      width: 3rem;
    }
  }

  &__link:link,
  &__link:visited {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 1rem;
    color: #fff;
    fill: #fff;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-small) {
      display: block;
      padding-bottom: 1rem;
    }
  }

  &__link:hover {
    color: $color-tertiary;
    fill: $color-tertiary;
  }
}
